*.suo
*.sdf

bestsave.rte
Bomb Jack.sts
Bomb Jack.log
VSMDigitalDisplay.dll
VSMDigitalData.dll
*.bmp
output/DebugAudio.txt
output/DebugAudioCounter.txt
Audio.log
Audio.DO
Audio.EDF
Audio.sts
*.opensdf
output/DebugAudioOutput.txt
TestAPU1.bin
Project Backups/
output/DebugAPUOutput.txt
*.img
output/DebugAPUOutputJust9800.txt
output/DebugAPUOutputInternal.txt
target/